#experience{
  padding: 80px 15px;
}

#experience .large-title{
  text-align: center;
  color: #c6e4ff;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  z-index: 1;
}

#experience .experience-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#experience .experience-container .large-icons .square{
  border: 30px solid #52b8ff;
  padding:5px;
  display: inline-block;
  position: relative;
  top: -100px;
}

#experience .experience-container .large-icons .square .blue-box{
  border: 10px solid #52b8ff;
  padding:5px;
  text-align: center;
  text-transform: uppercase;
  height: 150px;
  width: 150px;
  background: #52b8ff;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;

}

#experience .experience-container .large-icons .circle{
  border: 30px solid #ffc853;
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  top: 95px;
  left: 100px;
  position: relative;
}

#experience .experience-container .large-icons .white-box{
display: flex;
color: #ffc853;
justify-content: center;
align-items: center;
border-radius: 50%;
height: 150px;
width: 150px;
font-size: 1.1rem;
font-weight: 600;
text-transform: uppercase;
}


#experience .experience-container .large-icons .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 230px 150px;
  border-color: transparent transparent #ff5253 transparent;
  position: relative;
}

#experience .experience-container .large-icons .triangle .triangle-box{
  width: 0;
  heigh: 0;
  border-style: solid;
  border-width: 0 93.75px 151.75px 93.75px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  left: -94px;
  top: 35px;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ff5253;
}

#experience .experience-container .large-icons .triangle .triangle-box .text{
  position: relative;
  top: 98px;
  left: -29px;
}

#experience .experience-container .info{
padding: 80px 0 0;
}

#experience .experience-container .info .info-box{
  padding: 15px;
}

#experience .experience-container .info .info-box h3{
  color: #16171b;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#experience .experience-container .info .info-box h4{
  color: #52b7ff;
  font-size: .9rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 3px;
  padding: 15px 0;
  display: block;
}


#experience .experience-container .info .info-box p{
  color: #b2b2b4;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  display: block;
  line-height: 1.5;
}
