@import "css-reset.css";
@import "top.css";
@import "services.css";
@import "portfolio.css";
@import "experience.css";
@import "blog.css";
@import "footer.css";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
//  background: #eeeeee;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

header{
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

header .logo{
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 17px 15px;
  background: black;
  letter-spacing: 1px;
  display: flex;
}

header .logo .name{
  text-decoration: none;
  color: white;
}

header .header-menu{
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-menu a{
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 0 10px;
  transition: all .2s ease-in-out;
}

header .header-menu a:hover{
  font-weight: 700;
  color: #ff5253;
}

header .menu-btn{
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff5253;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display:none;
}

/* Desktop */
@media only screen and (max-width: 960px){
  .container{ width: 100%;}
}

/* Mobile */
@media only screen and (max-width: 767px){
  header .header-menu{
    display: none
  }

  header .menu-btn{
    display: flex;
  }
}
